In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
import researchpy as rp
from scipy import stats

# Read in csv
df = pd.read_csv('fittedFailureRate.csv', encoding='unicode_escape')
df.head()

C:\Users\ekelseya\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\ekelseya\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

,Unnamed: 0,Webpage,Page_Type,Institution,Funding,Tax_type,Region,Type,CU,CSU,CS_Department,CCCS,Elements,Errors,FR,FR_fitted
0,0,https://www.adams.edu/,A,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,698,1,0.001433,0.900164
1,1,https://www.adams.edu/academics/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,729,1,0.001372,0.891194
2,2,https://www.adams.edu/academics/graduate/couns...,D,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,507,1,0.001972,0.969114
3,3,https://www.adams.edu/catalog/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,512,1,0.001953,0.966918
4,4,https://www.adams.edu/faculty-staff/,C,Adams State University,public,non-profit,Southwest,University,no,no,yes,no,645,1,0.001550,0.916706

In [6]:
model = ols("""FR_fitted ~ C(Funding):C(Tax_type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                           df      sum_sq   mean_sq         F    PR(>F)
C(Funding):C(Tax_type)    3.0    6.219634  2.073211  9.509292  0.000004
Residual                537.0  117.076491  0.218020       NaN       NaN

In [9]:
model = ols("""FR_fitted ~ C(Funding):C(Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                       df      sum_sq   mean_sq         F        PR(>F)
C(Funding):C(Type)    7.0   14.213008  2.030430  9.909558  1.186308e-11
Residual            533.0  109.209619  0.204896       NaN           NaN

In [12]:
model = ols("""FR_fitted ~ C(Tax_type):C(Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                        df      sum_sq   mean_sq         F        PR(>F)
C(Tax_type):C(Type)    7.0   11.384261  1.626323  7.755095  6.011138e-09
Residual             533.0  111.775577  0.209710       NaN           NaN

In [11]:
model = ols("""FR_fitted ~ C(Tax_type):C(Region)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                          df      sum_sq  mean_sq         F        PR(>F)
C(Tax_type):C(Region)   17.0   23.753085  1.39724  7.338833  2.578789e-16
Residual               528.0  100.525911  0.19039       NaN           NaN

In [14]:
model = ols("""FR_fitted ~ C(Region):C(Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                      df     sum_sq   mean_sq         F        PR(>F)
C(Region):C(Type)   35.0  32.299179  0.922834  5.242945  2.918923e-18
Residual           522.0  91.879507  0.176014       NaN           NaN

In [7]:
model = ols("""FR_fitted ~ C(Funding):C(Region)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                         df      sum_sq   mean_sq         F        PR(>F)
C(Funding):C(Region)   17.0   22.948981  1.349940  7.094449  1.137389e-15
Residual              528.0  100.468453  0.190281       NaN           NaN

In [10]:
model = ols("""FR_fitted ~ C(Funding):C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                            df      sum_sq   mean_sq        F    PR(>F)
C(Funding):C(Page_Type)    7.0    8.022213  1.146030  5.29865  0.000007
Residual                 532.0  115.064821  0.216287      NaN       NaN

In [16]:
model = ols("""FR_fitted ~ C(Type):C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                         df      sum_sq   mean_sq         F        PR(>F)
C(Type):C(Page_Type)   15.0   15.449972  1.029998  5.023638  2.646574e-09
Residual              525.0  107.640919  0.205030       NaN           NaN

In [15]:
model = ols("""FR_fitted ~ C(Region):C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                           df     sum_sq   mean_sq         F        PR(>F)
C(Region):C(Page_Type)   35.0  26.075195  0.745006  3.890145  5.956392e-12
Residual                508.0  97.287583  0.191511       NaN           NaN

In [13]:
model = ols("""FR_fitted ~ C(Tax_type):C(Page_Type)""", data=df).fit()
sm.stats.anova_lm(model, typ=1)

                             df      sum_sq   mean_sq         F    PR(>F)
C(Tax_type):C(Page_Type)    7.0    8.538110  1.219730  5.664797  0.000003
Residual                  532.0  114.548925  0.215318       NaN       NaN